**/__pycache__/**
.vscode/**
spider-en/**

datasets/components/database/**
!datasets/components/database/README.md

datasets/components/schema_trans/*_sanitized.json

datasets/complete/**
!datasets/complete/README.md

datasets/components/schema_trans/analysis_*.json

evaluation/pred.sql